.form
  .pageName
    label(for="pageName") Page Name
    input(id="pageName", type="text", ng-model="mc.pageName")
  .pageText
    p Page Text
    div(text-angular, ng-model="mc.pageText")
  button(ng-click="mc.submit()") Submit
  h1 {{mc.pageName}}
  div(ng-bind-html="mc.pageText")
  hr
