jg-panel
  .row
    col-sm-2
      p.
        Static (This means it does not scroll)
    col-sm-1
        input(type="checkbox", ng-model="")
    col-sm-2
      p.
        Brand Name
    col-sm-1
      input(type="text", ng-model="")
