extends layout

block content
    .col-sm-2
        ul.nav.nav-pills.nav-stacked
          li 
            a Pages
          li 
            a Media
    .col-sm-10
      jg-panel
        jg-main(page-name="'Jackies Site'") 
